*
.*

!.gitignore
!.rspec
!Gemfile
!Vagrantfile
!Rakefile

!*.rb
!*.yml

!/test/
!/test/integration/
!/test/integration/provisioning/
!/test/integration/provisioning/rspec/
!/test/integration/provisioning/rspec/spec/
!/test/integration/provisioning/rspec/spec/localhost/
!/vagrant_package/

